[submodule "bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-makegreen"]
	path = vim/bundle/vim-makegreen
	url = https://github.com/reinh/vim-makegreen.git
[submodule "bundle/vim-rspec"]
	path = vim/bundle/vim-rspec
	url = https://github.com/taq/vim-rspec.git
