antigen bundle zsh-users/zsh-syntax-highlighting  
antigen bundle zsh-users/zsh-history-substring-search  
antigen bundle zsh-users/zsh-autosuggestions
antigen bundle unixorn/autoupdate-antigen.zshplugin
antigen bundle djui/alias-tips

antigen apply
